<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/userLayout.html">

<div class="container" layout:fragment="content">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        //유효성 검사에 사용할 상태변수
        let isUidOk   = false;
        let isPassOk  = false;
        let isNameOk  = false;
        let isNickOk  = false;
        let isEmailOk = false;
        let isHpOk    = false;

        // 유효성 검사에 사용할 정규표현식
        const reUid   = /^[a-z]+[a-z0-9]{4,19}$/g;
        const rePass  = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{5,16}$/;
        const reName  = /^[가-힣]{2,10}$/
        const reNick  = /^[a-zA-Zㄱ-힣0-9][a-zA-Zㄱ-힣0-9]*$/;
        const reEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
        const reHp    = /^01(?:0|1|[6-9])-(?:\d{4})-\d{4}$/;

        window.onload = function(){
            // 아이디 유효성 검사
            const btnCheckUid = document.getElementById('btnCheckUid');
            const resultUid = document.getElementById('resultUid');

            btnCheckUid.onclick = function(){
                const type    = this.dataset.type;
                const input   = document.registerForm[type]
                const spinner = this.getElementsByClassName('spinner')[0];

                console.log('value : ' + input.value);

                // 정규식 검사
                if(!input.value.match(reUid)){
                    input.classList.add('is-invalid');
                    resultUid.classList.add('invalid-feedback');
                    resultUid.innerText = '아이디 형식이 맞지 않습니다.';
                    isUidOk = false;
                    return;
                }

                spinner.classList.remove('d-none');

                setTimeout(async () => {

                    console.log('value : ' + input.value);

                    const data = await fetchData(`/sboard/user/${type}/${input.value}`);
                })

            }






        }